body{
    background-color: rgb(249, 175, 39);
}
h1{
    text-transform: uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    text-align: center;
    font-size:medium;
    position: relative;
    top: 20px;
}

p,
li {
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 20px;
}

.container { width: 1600px; height: 750px; margin-top: 50px; margin-left: auto; margin-right: auto;   
  
    background: whitesmoke;
    padding: 30px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}


