h1 {
    font-size: 45px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.txt2 {
    line-height: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    display: inline-block;

}

.header {
    position: fixed;
    width: 100%;
    padding: 20px;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.header #left-header {
    color: black;
    font-size: large;
}

#flip {
    position: absolute;
    cursor: pointer;
    user-select: none;
}

.footer {
    text-transform: uppercase;
    position: fixed;
    bottom: 0%;
}


.classname {
    display: flex;
    justify-content: center;
    width: 10%;
    gap: 20%;
    margin-right: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    font-weight: bold;
}

#btnjn {
    width: 9%;
    font-weight: bold;
    font-family: verdana, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 40px;
    border: 2px solid #feb101;
    color: #feb101;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #fff;
}

.sidefooter {
    width: 5%;
    color: black;
    display: flex;
    position: fixed;
    right: 30px;
    bottom: 30px;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    text-decoration: none;
    z-index: 9999;
}

.fa-facebook {
    text-decoration: none;
    color: black;
}

.fa-twitter {
    text-decoration: none;
    color: black;
}

.fa-instagram {
    text-decoration: none;
    color: black;
}

.dividerc {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: flex-end;
}

.dividerc #content {
    height: calc(100% - 82px);
    width: calc(150% - 10px);

}

.aside {
    width: 20%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination {
    right: unset !important;
    left: 20px !important;
}

.swiper-pagination .swiper-pagination-bullet {
    background-color: gray;
    width: 30px;
    height: 5px;
    margin: 15px 0 !important;
    border-radius: 5px;
}

.swiper-pagination .swiper-pagination-bullet-active {
    width: 60px;
    background-color: #feb101;
}

.pagewidth {
    max-width: 1440px;
    margin: auto;
}

.swiper {
    height: calc(100vh - 85px);
}

.swiper-slide {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.slide {
    height: 100%;
    width: 100%;
}

.pre-heading {
    font-size: 24px;
    color: #b1b1b1;
}

.sub-heading {
    font-size: 24px;
    color: #b1b1b1;
}

.sub-heading1 {
    font-size: 24px;
    font-weight: bolder;
}

.highlighted {
    color: #feb101;
}

.body-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 20px;
}

.slide2-content {
    display: flex;
}

.left-content {
    width: 50%;
    height: calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.right-content {
    width: 50%;
    height: calc(100vh - 85px);
    background-color: burlywood;
}

.pre-content {
    font-size: 20px;
}

.slide2-content .left-content h2 {
    font-family: 'Alegreya Sans', sans-serif;
}

.sub-heading1 {
    font-family: 'Mulish', sans-serif;
}

.slide3-content .left-content h2 {
    font-family: 'Alegreya Sans', sans-serif;
}

.slide5-content .left-content h2 {
    font-size: 50px;
}

.slide3-content {
    display: flex;
}

.slide4-content {
    display: flex;
}

.slide5-content {
    display: flex;
}

/* for responsive */
/* @media screen and (min-width: 768px) {} tab */
/* @media screen and (min-width: 390px) {} mobile */
/* @media screen and (min-width: 990px) {} desktop */